/*
Theme Name: Twenty Thirteen Child
Template: twentythirteen
*/
@import url("../twentythirteen/style.css");
/* =Theme customization starts here
-------------------------------------------------------------- */
/* Set content to take up area including where sidebar was */
/*
.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
	margin: 0 auto;
	max-width: 1040px;
	width: 100%;
}
*/
/*
.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
	max-width: 1040px;
	padding: 0 60px 0 60px; /* top, right, bottom, left */
/*
 }
*/

/* get rid of 20px padding for home-link */

/*
.site-header .home-link {
	color: #141412;
	display: block;
*/
/*	margin: 40px auto; */
/*
	max-width: 1040px;
	min-height: 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	width: 100%;
	position: relative;
}*/

.page-content {
    padding: 40px 60px 40px 60px !important;
}

.entry-content img.alignleft, .entry-content .wp-caption.alignleft {
    margin-left: 0px !important;
}

.wp-caption .wp-caption-text, .entry-caption, .gallery-caption {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.headerImg {
  position:absolute;
/*  display: none; */
  z-index: 0;
}

.headerImgHotspot {
    position: absolute;
    z-index: 5;
    opacity: 0;
    filter: alpha(opacity=0);
}

.headerImgHover {
    display:none;
    z-index: 0;
}

.headerImgClickFrom {
    display:none;
    z-index: 2;
}

.headerImgClickTo {
    display:none;
    z-index: 0;
}

.headerImgSelected {
    display: none;
    z-index: 0;
}

body {
/*    background-color: #888888; */
/*    padding: 50px 50px; */
    background-color: #f7f335;
    overflow-y: hidden;

}

textarea, input[type="search"], input[type="email"], input[type="text"] {
    background-color: #e3ffe5 !important;
}

input[type="submit"] {
    background: #00d5f7;
    border-bottom: #2b26a7;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1111ee), to(#421db6));
    background: -webkit-linear-gradient(#1111ee, #42d1b6);
    background: -moz-linear-gradient(#1111ee, #421db6);
    background: -ms-linear-gradient(#1111ee, #421db6);
    background: -o-linear-gradient(#1111ee, #421db6);
    background: linear-gradient(#1111ee, #421db6);
    -pie-background: linear-gradient(#1111ee, #421db6);
    behavior: url(wp-content/themes/twentythirteen-child/css/PIE.htc);
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background: #20f5f7;
    border-bottom: #4b46c7;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3333ff), to(#62c3f1));
    background: -webkit-linear-gradient(#1111ee, #62c3f1);
    background: -moz-linear-gradient(#1111ee, #62c3f1);
    background: -ms-linear-gradient(#1111ee, #62c3f1);
    background: -o-linear-gradient(#1111ee, #62c3f1);
    background: linear-gradient(#1111ee, #62c3f1);
    -pie-background: linear-gradient(#1111ee, #62c3f1);
    behavior: url(wp-content/themes/twentythirteen-child/css/PIE.htc);
}
/*
.site-main .sidebar-inner {
    margin: 200px auto;
    max-width: 1040px;
}
*/
#page {
    background-color: #f7f335;
}

#masthead {
    max-width: 1040px;
    margin: 20px auto;
    border: 1px solid #696;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: #666 0px 0px 5px;
    -moz-box-shadow: #666 0px 0px 5px;
    box-shadow: #666 0px 0px 5px;
    background: #00d5f7;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00d5f7), to(#98ECBE));
    background: -webkit-linear-gradient(#00d5f7, #98ECBE);
    background: -moz-linear-gradient(#00d5f7, #98ECBE);
    background: -ms-linear-gradient(#00d5f7, #98ECBE);
    background: -o-linear-gradient(#00d5f7, #98ECBE);
    background: linear-gradient(#00d5f7, #98ECBE);
    -pie-background: linear-gradient(#00d5f7, #98ECBE);
    behavior: url(wp-content/themes/twentythirteen-child/css/PIE.htc); 
/*
    background-color: green;
    background-image: linear-gradient( 
    border-radius: 50px;

*/
}


#content {
    position:relative;
    padding-right: 380px;
    margin: 25px auto;
    max-width: 1040px;
    border: 1px solid #696;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: #666 0px 0px 5px;
    -moz-box-shadow: #666 0px 0px 5px;
    box-shadow: #666 0px 0px 5px;
    background: #98ECBE;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#98ECBE), to(#d3f7c1));
    background: -webkit-linear-gradient(#98ECBE, #d3f7c1);
    background: -moz-linear-gradient(#98ECBE, #d3f7c1);
    background: -ms-linear-gradient(#98ECBE, #d3f7c1);
    background: -o-linear-gradient(#98ECBE, #d3f7c1);
    background: linear-gradient(#98ECBE, #d3f7c1);
    -pie-background: linear-gradient(#98ECBE, #d3f7c1);
    behavior: url(wp-content/themes/twentythirteen-child/css/PIE.htc);
}

.home-link, site-header {
    min-height: 0 !important;
    padding: 0px 20px 15px 20px !important;
}

#colophon {
    position:relative;
    max-width: 1040px;
    margin: 25px auto;
    border: 1px solid #696;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: #666 0px 0px 5px;
    -moz-box-shadow: #666 0px 0px 5px;
    box-shadow: #666 0px 0px 5px;
    background: #D3F7C1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D3F7C1), to(#ffffff));
    background: -webkit-linear-gradient(#D3F7C1, #ffffff);
    background: -moz-linear-gradient(#D3F7C1, #ffffff);
    background: -ms-linear-gradient(#D3F7C1, #ffffff);
    background: -o-linear-gradient(#D3F7C1, #ffffff);
    background: linear-gradient(#D3F7C1, #ffffff);
    -pie-background: linear-gradient(#D3F7C1, #ffffff);
    behavior: url(wp-content/themes/twentythirteen-child/css/PIE.htc);

}
#snappyKidsSlogan {
    position: relative !important;
}

.site-info {
    padding:0 !important;
}
.comments-title, .comment-list, .comment-reply-title, .must-log-in, .comment-respond .comment-form, .comment-respond iframe {
    max-width: 1040px;
}

#reply-title {
    padding-left: 0px !important;
    background: transparent !important;
}

.comment-respond, div.comments-link {
    padding-left: 20px;
    padding-right:20px;
}

#content footer.entry-meta {
    padding: 0 0 0 0 !important;
}

/* .comments-title .comment-list  */
/*
.sidebar .comments-title, .sidebar .comment-list, .sidebar .must-log-in, .sidebar .comment-reply-title, .sidebar .comment-navigation, .sidebar .comment-respond .comment-form
{
    padding: 0px 60px 0px 60px;
    max-width: 1040px;
}
*/

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary {

    padding: 0 25px 0 25px !important;
}

/*
.entry-header, .entry-content, .comments-title, .comment-list {
    padding-left: 20px;
    padding-right: 20px;
}
*/
.comment-respond {
    background-color: transparent;
}

.author {
    display: inline !important;
}

.fbCommentContext .composer textarea, .fbFeedbackContent .composer textarea {
    background-color: #ecffec !important;
}

.entry-meta a {
    color: #2f4f94;
}

@media (max-width: 1080px) {
    #masthead {
	margin: 20px 20px;
    }
    #content, #colophon {
	margin: 20px 20px;
    }
    .post-navigation {
	margin: 0px 20px 0 20px;
    }
}

@media (min-width: 1000px) {
    .widget-area {
	width: 290px !important;
    }
    #primary {
	max-width:1040px;
	margin: 0 auto;
    }
}

@media (max-width: 999px) {
    .site-main .widget-area {
	float: right;
    }
    .widget-area {
	width: 230px !important;
    }
    #content {
    padding-right: 320px;
    }
}

@media (max-width: 767px) {
    #content {
	padding: 0 !important;
    }
    header.entry-header, .entry-meta, .entry-content, .nav-links .comments-title, .comment-list, .comment-reply-title, .must-log-in, .comment-respond .comment-form, .comment-respond iframe {
	max-width: none !important;
    }
    nav.navigation.post-navigation {
	padding: 0 !important;
    }
    .sidebar .post-navigation .nav-links {
	max-width: none !important;
    }
    #tertiary {
	padding: 0px 0px;
	top: 0px;
	max-width: none;
	background-color: e0d010;
    }
    .sidebar-inner {
	margin: 20px !important;
    }

    .widget-area {
	width: 100% !important;
	float: none !important;
    }
    .widget {
	margin: 0 0 5px;
    }
    textarea, input[type="search"] {
	width: 100%;
	padding-right:2px;
    }
    #content p {
	padding-right: 45px !important;
    }
    h1.entry-title {
	padding-right: 45px !important;
    }
}

@media (min-width: 1080px) {
    .post-navigation, #colophone {
	margin: 0px auto;
    }
}
.post-navigation {
/*    background-color: #D3F7C1;
    color: #2f4f94; */
    background-color: transparent;
    color: #012674;
/*    margin: 0px auto; */
    padding: 0px 20px 0px 20px;
    max-width: 1000px;
}


.navigation a:link, .widget a:link, .post-navigation a:link{
    color: #012674 !important;
}

.navigation a:visited, .widget a:visited, .post-navigation a:visited{
    color: #012674 !important;
}

.navigation a:hover, .widget a:hover, .post-navigation a:hover {
    color: #6786c7 !important;
}

.sidebar .post-navigation .nav-links {
    padding:0px;
}

.categories-links {
    display: none;
}

.page-wrapper {
    background-color: transparent !important;
}
.page-header {
    background-color: transparent !important;
    padding-left: 20px;
}

#post_to_service {
    visibility: hidden;
}

#social  {
    background: transparent;
    margin: 40px 25px;
}
ul.social-nav.social-clearfix {
    display: none;
}

h3#reply-title {
    font-family: Bitter, Georgia, serif;
    font-size: 36px !important;
}

input#submit {
    color: #012674 !important;
}

#respond textarea.social-input {
    max-width: none !important;
}

/*
.pluginSkinLight div {
    width:100% !important;
}
*/
/*
.fb-comments span {
    width: 100% !important;
}
.fb-comments iframe {
    width: 100% !important;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {
    width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {
width: 100% !important;}
*/

/* widget stuff */
.widget-area {
    margin-right: 20px;
}

.widget {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #96DAB1;
    background: #96DAB1;
    padding: 10px;
    border: 1px solid #99c399;
    behavior: url(wp-content/themes/twentythirteen-child/css/PIE.htc);
    position: relative !important;
}

@media (max-width: 459px) {
    #masthead, #content, #colophon {
	margin: 10px 10px;
    }
    .sidebar .entry-header,
    .sidebar .entry-content,
    .sidebar .entry-summary {
	padding: 0 10px 0 10px !important;
    }
    .post-navigation {
	margin: 0px 10px 0 10px;
    }
    #social {
	margin: 40px 10px;
    }

    .social-clearfix {
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
    }
    #tertiary {
	padding: 0 0px !important;
    }
    .sidebar-inner {
	margin: 10px !important;
    }
    #content p {
	padding-right: 20px !important;
    }

    h1.entry-title {
	padding-right: 20px !important;
    }
}
@-moz-document url-prefix() {
    input[type="search"] {
	width: 95%;
    }
}
#social .social-sign-in-links .social-twitter {
    display:none !important;
}
#social .social-sign-in-links {
    margin: 0 !important;
}

#social .social-sign-in-links .social-facebook:active {
    margin: 0 !important;
}

#social .social-sign-in-links a {
    margin: 0 !important;
}

#post_to {
    font-size: small;
    font-style:italic !important;
}

table {
    border-bottom: 0;
}

table td {
    border-top: 0;
    border-bottom: 0;
}